<h1>Blog Posts</h1>

<% @posts.each do |post|%>
  <p>
	<span><a href="/posts/<%= post.id %>"><%= post.title%></a></span>
  </p>
<% end %>

<hr>

<p>
  <a href="/blog">Return to Blog</a>
</p>

<p>
  <a href="/posts/new">Create new post</a>
</p>